*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/artifacts/powerapi_war.xml
.idea/artifacts/powerapi_war_exploded.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__asm_asm_3_3_1.xml
.idea/libraries/Maven__cglib_cglib_2_2_2.xml
.idea/libraries/Maven__com_alibaba_druid_1_0_19.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_8.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_2_0.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_0_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_5.xml
.idea/libraries/Maven__com_google_guava_guava_19_0.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_32.xml
.idea/libraries/Maven__net_sf_ehcache_ehcache_core_2_6_11.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_core_1_2_2.xml
.idea/libraries/Maven__org_apache_shiro_shiro_quartz_1_2_2.xml
.idea/libraries/Maven__org_apache_shiro_shiro_spring_1_2_2.xml
.idea/libraries/Maven__org_apache_shiro_shiro_web_1_2_2.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_12.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_6_12.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_20.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_1_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_1.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
.idea/libraries/Maven__org_opensymphony_quartz_quartz_1_6_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_21.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_6_RELEASE.xml
.idea/libraries/Maven__redis_clients_jedis_2_3_1.xml
.idea/libraries/shiro_freemarker_tags_0_1_SNAPSHOT.xml
target/classes/log4j.properties
target/classes/mapper/BugMapper.xml
target/classes/mapper/CodeMapper.xml
target/classes/mapper/FunctionMapper.xml
target/classes/mapper/LogMapper.xml
target/classes/mapper/ModuleMapper.xml
target/classes/mapper/PermissionMapper.xml
target/classes/mapper/ProjectMapper.xml
target/classes/mapper/RequesterMapper.xml
target/classes/mapper/RoleMapper.xml
target/classes/mapper/UserMapper.xml
target/classes/properties/freemarker.properties
target/classes/properties/jdbc.properties
target/classes/spring/spring-dao.xml
target/classes/spring/spring-freemarker.xml
target/classes/spring/spring-mvc.xml
target/classes/spring/spring-shiro.xml
target/classes/xml/mybatis-config.xml
target/powerapi/index.jsp
target/powerapi/META-INF/MANIFEST.MF
target/powerapi/WEB-INF/web.xml
target/powerapi/WEB-INF/classes/log4j.properties
target/powerapi/WEB-INF/classes/mapper/BugMapper.xml
target/powerapi/WEB-INF/classes/mapper/CodeMapper.xml
target/powerapi/WEB-INF/classes/mapper/FunctionMapper.xml
target/powerapi/WEB-INF/classes/mapper/LogMapper.xml
target/powerapi/WEB-INF/classes/mapper/ModuleMapper.xml
target/powerapi/WEB-INF/classes/mapper/PermissionMapper.xml
target/powerapi/WEB-INF/classes/mapper/ProjectMapper.xml
target/powerapi/WEB-INF/classes/mapper/RequesterMapper.xml
target/powerapi/WEB-INF/classes/mapper/RoleMapper.xml
target/powerapi/WEB-INF/classes/mapper/UserMapper.xml
target/powerapi/WEB-INF/classes/properties/freemarker.properties
target/powerapi/WEB-INF/classes/properties/jdbc.properties
target/powerapi/WEB-INF/classes/spring/spring-dao.xml
target/powerapi/WEB-INF/classes/spring/spring-freemarker.xml
target/powerapi/WEB-INF/classes/spring/spring-mvc.xml
target/powerapi/WEB-INF/classes/spring/spring-shiro.xml
target/powerapi/WEB-INF/classes/xml/mybatis-config.xml
