<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="powerapi.mapper.AutoTestMapper">

    <resultMap id="BaseResultMap" type="powerapi.entity.AutoTest">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="totalcount" property="totalcount" jdbcType="INTEGER"/>
        <result column="totaltime" property="totaltime" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="errorcount" property="errorcount" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="createdate" property="createdate" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
		id, user_id, p_id, createdate, title,totalcount,errorcount,status,totaltime
	</sql>

</mapper>