<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="powerapi.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="powerapi.entity.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="selected" property="selected" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, permission,description
    </sql>


    <select id="findByRole" resultMap="BaseResultMap">
        select p.*
        from ( (SELECT t_permission.*,1 as selected from t_permission left join t_role_permission on t_permission.id =
        t_role_permission.permission_id where t_role_permission.role_id = #{roleId} )
        UNION ALL
        (SELECT t_permission.*,0 as selected from t_permission ) ) as p group by p.permission order by p.id
    </select>

</mapper>